In [1]:
import pandas as pd

In [2]:
csv_file = '../Resources/test.csv'
csv_file

'../Resources/test.csv'

In [3]:
test_df = pd.read_csv(csv_file)
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [4]:
test_df = test_df.loc[(test_df["MSZoning"]=="FV") | (test_df["MSZoning"]=="RH") | (test_df["MSZoning"]=="RL") | (test_df["MSZoning"]=="RP") | (test_df["MSZoning"]=="RM")]

In [5]:
# get dummies
# MSZoning_dummies = pd.get_dummies(train_df.MSZoning, prefix='MSZoning').iloc[:, 1:]
# MSZoning_dummies.head()

In [6]:
for col in test_df.columns:
    print(col)

Id
MSSubClass
MSZoning
LotFrontage
LotArea
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
MasVnrArea
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinSF1
BsmtFinType2
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
Heating
HeatingQC
CentralAir
Electrical
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageArea
GarageQual
GarageCond
PavedDrive
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
PoolQC
Fence
MiscFeature
MiscVal
MoSold
YrSold
SaleType
SaleCondition

In [7]:
# Passing dataframe in to Get dummies for non hierarchical variables 
test_df = pd.get_dummies(test_df, columns=['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope','Neighborhood', 'Condition1', 'Condition2','BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'Foundation', 'Heating', 'CentralAir', 'Electrical', 'GarageType', 'PavedDrive', 'MiscFeature', 'SaleType', 'SaleCondition'], drop_first=True) 
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,TA,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,TA,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,TA,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,TA,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,Gd,...,0,0,0,0,1,0,0,0,1,0

In [10]:
test_df.LotFrontage.fillna(0, inplace=True)

In [11]:
test_df[test_df.LotFrontage.isnull()]

Empty DataFrame
Columns: [Id, MSSubClass, LotFrontage, LotArea, OverallQual, OverallCond, YearBuilt, YearRemodAdd, MasVnrArea, ExterQual, ExterCond, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, HeatingQC, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscVal, MoSold, YrSold, MSZoning_RH, MSZoning_RL, MSZoning_RM, Street_Pave, Alley_Pave, LotShape_IR2, LotShape_IR3, LotShape_Reg, LandContour_HLS, LandContour_Low, LandContour_Lvl, LotConfig_CulDSac, LotConfig_FR2, LotConfig_FR3, LotConfig_Inside, LandSlope_Mod, LandSlope_Sev, Neighborhood_Blueste, Neighborhood_BrDale, Neighborhood_BrkSide, Neighborhood_ClearCr, Neighborhood_CollgCr, Neighborhood_Crawfor, Neighborhood_Edwards, Neighborhood_Gilbert, Neighborhood_IDOTRR, Neighborhood_MeadowV, Neighborhood_Mitchel, Neighborhood_NAmes, Neighborhood_NPkVill, Neighborhood_NWAmes, Neighborhood_NoRidge, Neighborhood_NridgHt, Neighborhood_OldTown, Neighborhood_SWISU, Neighborhood_Sawyer, Neighborhood_SawyerW, Neighborhood_Somerst, Neighborhood_StoneBr, Neighborhood_Timber, Neighborhood_Veenker, Condition1_Feedr, Condition1_Norm, Condition1_PosA, Condition1_PosN, Condition1_RRAe, Condition1_RRAn, ...]
Index: []

[0 rows x 186 columns]

# Hirachial variables 
ExterQual
ExterCond
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
HeatingQC
KitchenQual
Functional
FireplaceQu
GarageFinish
GarageQual
GarageCond
Fence

In [12]:
test_df.value_counts('ExterQual')

ExterQual
TA    899
Gd    488
Ex     52
Fa     11
dtype: int64

In [13]:
test_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1450 entries, 0 to 1459
Data columns (total 204 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     1450 non-null   int64
 1   MSSubClass             1450 non-null   int64
 2   LotFrontage            1450 non-null   float64
 3   LotArea                1450 non-null   int64
 4   OverallQual            1450 non-null   int64
 5   OverallCond            1450 non-null   int64
 6   YearBuilt              1450 non-null   int64
 7   YearRemodAdd           1450 non-null   int64
 8   MasVnrArea             1442 non-null   float64
 9   ExterQual              1450 non-null   object
 10  ExterCond              1450 non-null   object
 11  BsmtQual               1413 non-null   object
 12  BsmtCond               1413 non-null   object
 13  BsmtExposure           1412 non-null   object
 14  BsmtFinType1           1413 non-null   object
 15  BsmtFinSF1             1450 non-null   int64
 16  BsmtFinType2           1412 non-null   object
 17  BsmtFinSF2             1450 non-null   int64
 18  BsmtUnfSF              1450 non-null   int64
 19  TotalBsmtSF            1450 non-null   int64
 20  HeatingQC              1450 non-null   object
 21  1stFlrSF               1450 non-null   int64
 22  2ndFlrSF               1450 non-null   int64
 23  LowQualFinSF           1450 non-null   int64
 24  GrLivArea              1450 non-null   int64
 25  BsmtFullBath           1450 non-null   int64
 26  BsmtHalfBath           1450 non-null   int64
 27  FullBath               1450 non-null   int64
 28  HalfBath               1450 non-null   int64
 29  BedroomAbvGr           1450 non-null   int64
 30  KitchenAbvGr           1450 non-null   int64
 31  KitchenQual            1450 non-null   object
 32  TotRmsAbvGrd           1450 non-null   int64
 33  Functional             1450 non-null   object
 34  Fireplaces             1450 non-null   int64
 35  FireplaceQu            769 non-null    object
 36  GarageYrBlt            1371 non-null   float64
 37  GarageFinish           1371 non-null   object
 38  GarageCars             1450 non-null   int64
 39  GarageArea             1450 non-null   int64
 40  GarageQual             1371 non-null   object
 41  GarageCond             1371 non-null   object
 42  WoodDeckSF             1450 non-null   int64
 43  OpenPorchSF            1450 non-null   int64
 44  EnclosedPorch          1450 non-null   int64
 45  3SsnPorch              1450 non-null   int64
 46  ScreenPorch            1450 non-null   int64
 47  PoolArea               1450 non-null   int64
 48  PoolQC                 7 non-null      object
 49  Fence                  278 non-null    object
 50  MiscVal                1450 non-null   int64
 51  MoSold                 1450 non-null   int64
 52  YrSold                 1450 non-null   int64
 53  SalePrice              1450 non-null   int64
 54  MSZoning_RH            1450 non-null   uint8
 55  MSZoning_RL            1450 non-null   uint8
 56  MSZoning_RM            1450 non-null   uint8
 57  Street_Pave            1450 non-null   uint8
 58  Alley_Pave             1450 non-null   uint8
 59  LotShape_IR2           1450 non-null   uint8
 60  LotShape_IR3           1450 non-null   uint8
 61  LotShape_Reg           1450 non-null   uint8
 62  LandContour_HLS        1450 non-null   uint8
 63  LandContour_Low        1450 non-null   uint8
 64  LandContour_Lvl        1450 non-null   uint8
 65  Utilities_NoSeWa       1450 non-null   uint8
 66  LotConfig_CulDSac      1450 non-null   uint8
 67  LotConfig_FR2          1450 non-null   uint8
 68  LotConfig_FR3          1450 non-null   uint8
 69  LotConfig_Inside       1450 non-null   uint8
 70  LandSlope_Mod          1450 non-null   uint8
 71  LandSlope_Sev          1450 non-null   uint8
 72  Neighborhood_Blueste   1450 non-null   uint8
 73  Neighborhood_BrDale    1450 non-null   uint8
 74  Neighborhood_BrkSide   1450 non-null   uint8
 75  Neighborhood_ClearCr   1450 non-null   uint8
 76  Neighborhood_CollgCr   1450 non-null   uint8
 77  Neighborhood_Crawfor   1450 non-null   uint8
 78  Neighborhood_Edwards   1450 non-null   uint8
 79  Neighborhood_Gilbert   1450 non-null   uint8
 80  Neighborhood_IDOTRR    1450 non-null   uint8
 81  Neighborhood_MeadowV   1450 non-null   uint8
 82  Neighborhood_Mitchel   1450 non-null   uint8
 83  Neighborhood_NAmes     1450 non-null   uint8
 84  Neighborhood_NPkVill   1450 non-null   uint8
 85  Neighborhood_NWAmes    1450 non-null   uint8
 86  Neighborhood_NoRidge   1450 non-null   uint8
 87  Neighborhood_NridgHt   1450 non-null   uint8
 88  Neighborhood_OldTown   1450 non-null   uint8
 89  Neighborhood_SWISU     1450 non-null   uint8
 90  Neighborhood_Sawyer    1450 non-null   uint8
 91  Neighborhood_SawyerW   1450 non-null   uint8
 92  Neighborhood_Somerst   1450 non-null   uint8
 93  Neighborhood_StoneBr   1450 non-null   uint8
 94  Neighborhood_Timber    1450 non-null   uint8
 95  Neighborhood_Veenker   1450 non-null   uint8
 96  Condition1_Feedr       1450 non-null   uint8
 97  Condition1_Norm        1450 non-null   uint8
 98  Condition1_PosA        1450 non-null   uint8
 99  Condition1_PosN        1450 non-null   uint8
 100 Condition1_RRAe        1450 non-null   uint8
 101 Condition1_RRAn        1450 non-null   uint8
 102 Condition1_RRNe        1450 non-null   uint8
 103 Condition1_RRNn        1450 non-null   uint8
 104 Condition2_Feedr       1450 non-null   uint8
 105 Condition2_Norm        1450 non-null   uint8
 106 Condition2_PosA        1450 non-null   uint8
 107 Condition2_PosN        1450 non-null   uint8
 108 Condition2_RRAe        1450 non-null   uint8
 109 Condition2_RRAn        1450 non-null   uint8
 110 Condition2_RRNn        1450 non-null   uint8
 111 BldgType_2fmCon        1450 non-null   uint8
 112 BldgType_Duplex        1450 non-null   uint8
 113 BldgType_Twnhs         1450 non-null   uint8
 114 BldgType_TwnhsE        1450 non-null   uint8
 115 HouseStyle_1.5Unf      1450 non-null   uint8
 116 HouseStyle_1Story      1450 non-null   uint8
 117 HouseStyle_2.5Fin      1450 non-null   uint8
 118 HouseStyle_2.5Unf      1450 non-null   uint8
 119 HouseStyle_2Story      1450 non-null   uint8
 120 HouseStyle_SFoyer      1450 non-null   uint8
 121 HouseStyle_SLvl        1450 non-null   uint8
 122 RoofStyle_Gable        1450 non-null   uint8
 123 RoofStyle_Gambrel      1450 non-null   uint8
 124 RoofStyle_Hip          1450 non-null   uint8
 125 RoofStyle_Mansard      1450 non-null   uint8
 126 RoofStyle_Shed         1450 non-null   uint8
 127 RoofMatl_CompShg       1450 non-null   uint8
 128 RoofMatl_Membran       1450 non-null   uint8
 129 RoofMatl_Metal         1450 non-null   uint8
 130 RoofMatl_Roll          1450 non-null   uint8
 131 RoofMatl_Tar&Grv       1450 non-null   uint8
 132 RoofMatl_WdShake       1450 non-null   uint8
 133 RoofMatl_WdShngl       1450 non-null   uint8
 134 Exterior1st_AsphShn    1450 non-null   uint8
 135 Exterior1st_BrkComm    1450 non-null   uint8
 136 Exterior1st_BrkFace    1450 non-null   uint8
 137 Exterior1st_CBlock     1450 non-null   uint8
 138 Exterior1st_CemntBd    1450 non-null   uint8
 139 Exterior1st_HdBoard    1450 non-null   uint8
 140 Exterior1st_ImStucc    1450 non-null   uint8
 141 Exterior1st_MetalSd    1450 non-null   uint8
 142 Exterior1st_Plywood    1450 non-null   uint8
 143 Exterior1st_Stone      1450 non-null   uint8
 144 Exterior1st_Stucco     1450 non-null   uint8
 145 Exterior1st_VinylSd    1450 non-null   uint8
 146 Exterior1st_Wd Sdng    1450 non-null   uint8
 147 Exterior1st_WdShing    1450 non-null   uint8
 148 Exterior2nd_AsphShn    1450 non-null   uint8
 149 Exterior2nd_Brk Cmn    1450 non-null   uint8
 150 Exterior2nd_BrkFace    1450 non-null   uint8
 151 Exterior2nd_CBlock     1450 non-null   uint8
 152 Exterior2nd_CmentBd    1450 non-null   uint8
 153 Exterior2nd_HdBoard    1450 non-null   uint8
 154 Exterior2nd_ImStucc    1450 non-null   uint8
 155 Exterior2nd_MetalSd    1450 non-null   uint8
 156 Exterior2nd_Other      1450 non-null   uint8
 157 Exterior2nd_Plywood    1450 non-null   uint8
 158 Exterior2nd_Stone      1450 non-null   uint8
 159 Exterior2nd_Stucco     1450 non-null   uint8
 160 Exterior2nd_VinylSd    1450 non-null   uint8
 161 Exterior2nd_Wd Sdng    1450 non-null   uint8
 162 Exterior2nd_Wd Shng    1450 non-null   uint8
 163 MasVnrType_BrkFace     1450 non-null   uint8
 164 MasVnrType_None        1450 non-null   uint8
 165 MasVnrType_Stone       1450 non-null   uint8
 166 Foundation_CBlock      1450 non-null   uint8
 167 Foundation_PConc       1450 non-null   uint8
 168 Foundation_Slab        1450 non-null   uint8
 169 Foundation_Stone       1450 non-null   uint8
 170 Foundation_Wood        1450 non-null   uint8
 171 Heating_GasA           1450 non-null   uint8
 172 Heating_GasW           1450 non-null   uint8
 173 Heating_Grav           1450 non-null   uint8
 174 Heating_OthW           1450 non-null   uint8
 175 Heating_Wall           1450 non-null   uint8
 176 CentralAir_Y           1450 non-null   uint8
 177 Electrical_FuseF       1450 non-null   uint8
 178 Electrical_FuseP       1450 non-null   uint8
 179 Electrical_Mix         1450 non-null   uint8
 180 Electrical_SBrkr       1450 non-null   uint8
 181 GarageType_Attchd      1450 non-null   uint8
 182 GarageType_Basment     1450 non-null   uint8
 183 GarageType_BuiltIn     1450 non-null   uint8
 184 GarageType_CarPort     1450 non-null   uint8
 185 GarageType_Detchd      1450 non-null   uint8
 186 PavedDrive_P           1450 non-null   uint8
 187 PavedDrive_Y           1450 non-null   uint8
 188 MiscFeature_Othr       1450 non-null   uint8
 189 MiscFeature_Shed       1450 non-null   uint8
 190 MiscFeature_TenC       1450 non-null   uint8
 191 SaleType_CWD           1450 non-null   uint8
 192 SaleType_Con           1450 non-null   uint8
 193 SaleType_ConLD         1450 non-null   uint8
 194 SaleType_ConLI         1450 non-null   uint8
 195 SaleType_ConLw         1450 non-null   uint8
 196 SaleType_New           1450 non-null   uint8
 197 SaleType_Oth           1450 non-null   uint8
 198 SaleType_WD            1450 non-null   uint8
 199 SaleCondition_AdjLand  1450 non-null   uint8
 200 SaleCondition_Alloca   1450 non-null   uint8
 201 SaleCondition_Family   1450 non-null   uint8
 202 SaleCondition_Normal   1450 non-null   uint8
 203 SaleCondition_Partial  1450 non-null   uint8
dtypes: float64(3), int64(35), object(16), uint8(150)
memory usage: 835.4+ KB

In [14]:
test_df.isnull().sum()

Id                       0
MSSubClass               0
LotFrontage              0
LotArea                  0
OverallQual              0
                        ..
SaleCondition_AdjLand    0
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Length: 204, dtype: int64

In [15]:
test_df.ExterQual.value_counts(dropna=False)

TA    899
Gd    488
Ex     52
Fa     11
Name: ExterQual, dtype: int64

In [17]:
test_df.ExterQual.fillna(0, inplace=True)

In [12]:
# formatting  ['ExterQual'] to Hirachial value 
test_df['ExterQual'] = test_df['ExterQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# replace testing 
test_df.value_counts('ExterQual')

ExterQual
3    879
4    490
5     55
2     16
dtype: int64

In [14]:
test_df.ExterCond.value_counts(dropna=False)

TA    1245
Gd     152
Fa      33
Ex       9
Po       1
Name: ExterCond, dtype: int64

In [15]:
test_df.ExterCond.fillna(0, inplace=True)

In [16]:
# formatting  ['ExterCond'] to Hirachial value 
test_df['ExterCond'] = test_df['ExterCond'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [17]:
# replace testing 
test_df.value_counts('ExterCond')

ExterCond
3    1245
4     152
2      33
5       9
1       1
dtype: int64

In [18]:
test_df.BsmtQual.value_counts(dropna=False)

TA     624
Gd     591
Ex     137
Fa      50
NaN     38
Name: BsmtQual, dtype: int64

In [19]:
test_df.BsmtQual.fillna(0, inplace=True)

In [20]:
test_df.BsmtQual.value_counts()

TA    624
Gd    591
Ex    137
Fa     50
0      38
Name: BsmtQual, dtype: int64

In [22]:
# test_df.loc[train_df.BsmtQual.isnull()]['BsmtQual']

In [21]:
# formatting  ['BsmtQual'] to Hirachial value 
test_df['BsmtQual'] = test_df['BsmtQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [22]:
# replace testing 
test_df.value_counts('BsmtQual')

BsmtQual
3    624
4    591
5    137
2     50
0     38
dtype: int64

In [23]:
test_df.BsmtCond.value_counts(dropna=False)

TA     1284
Gd       57
Fa       55
NaN      41
Po        3
Name: BsmtCond, dtype: int64

In [24]:
test_df.BsmtCond.fillna(0, inplace=True)

In [27]:
#train_df.loc[train_df.BsmtCond.isnull()]['BsmtCond']

In [25]:
# formatting  ['BsmtCond'] to Hirachial value 
test_df['BsmtCond'] = test_df['BsmtCond'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [26]:
# replace testing 
test_df.value_counts('BsmtCond')

BsmtCond
3    1284
4      57
2      55
0      41
1       3
dtype: int64

In [27]:
test_df.BsmtExposure.value_counts(dropna=False)

No     938
Av     197
Gd     142
Mn     123
NaN     40
Name: BsmtExposure, dtype: int64

In [28]:
test_df.BsmtExposure.fillna(0, inplace=True)

In [29]:
# formatting  ['BsmtExposure'] to Hirachial value 
test_df['BsmtExposure'] = test_df['BsmtExposure'].replace({'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [30]:
# replace testing 
test_df.value_counts('BsmtExposure')

BsmtExposure
1    938
3    197
4    142
2    123
0     40
dtype: int64

In [31]:
test_df.BsmtFinType1.value_counts(dropna=False)

GLQ    430
Unf    409
ALQ    208
Rec    154
BLQ    121
LwQ     80
NaN     38
Name: BsmtFinType1, dtype: int64

In [32]:
test_df.BsmtFinType1.fillna(0, inplace=True)

In [34]:
# formatting  ['BsmtFinType1'] to Hirachial value 
test_df['BsmtFinType1'] = test_df['BsmtFinType1'].replace({'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ':2, 'Unf': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [35]:
# replace testing 
test_df.value_counts('BsmtFinType1')

BsmtFinType1
6    430
1    409
5    208
3    154
4    121
2     80
0     38
dtype: int64

In [36]:
test_df.BsmtFinType2.value_counts(dropna=False)

Unf    1222
Rec      51
LwQ      41
NaN      38
BLQ      35
ALQ      33
GLQ      20
Name: BsmtFinType2, dtype: int64

In [37]:
test_df.BsmtFinType2.fillna(0, inplace=True)

In [38]:
# formatting  ['BsmtFinType2'] to Hirachial value 
test_df['BsmtFinType2'] = test_df['BsmtFinType2'].replace({'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ':2, 'Unf': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [39]:
# replace testing 
test_df.value_counts('BsmtFinType2')

BsmtFinType2
1    1222
3      51
2      41
0      38
4      35
5      33
6      20
dtype: int64

In [40]:
test_df.HeatingQC.value_counts(dropna=False)

Ex    747
TA    422
Gd    231
Fa     39
Po      1
Name: HeatingQC, dtype: int64

In [41]:
test_df.HeatingQC.fillna(0, inplace=True)

In [42]:
# formatting  ['HeatingQC'] to Hirachial value 
test_df['HeatingQC'] = test_df['HeatingQC'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [43]:
# replace testing 
test_df.value_counts('HeatingQC')

HeatingQC
5    747
3    422
4    231
2     39
1      1
dtype: int64

In [44]:
test_df.KitchenQual.value_counts(dropna=False)

TA     742
Gd     564
Ex     105
Fa      28
NaN      1
Name: KitchenQual, dtype: int64

In [45]:
test_df.KitchenQual.fillna(0, inplace=True)

In [46]:
# formatting  ['KitchenQual'] to Hirachial value 
test_df['KitchenQual'] = test_df['KitchenQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [47]:
# replace testing 
test_df.value_counts('KitchenQual')

KitchenQual
3    742
4    564
5    105
2     28
0      1
dtype: int64

In [48]:
test_df.Functional.value_counts(dropna=False)

Typ     1345
Min2      34
Min1      33
Mod       18
Maj1       4
Maj2       4
Sev        1
NaN        1
Name: Functional, dtype: int64

In [49]:
test_df.Functional.fillna(0, inplace=True)

In [50]:
# formatting  ['Functional'] to Hirachial value 
test_df['Functional'] = test_df['Functional'].replace({'Typ': 8, 'Min1': 7, 'Min2': 6, 'Mod': 5, 'Maj1': 4, 'Maj2': 3 , 'Sev': 2, 'Sal': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [51]:
# replace testing 
test_df.value_counts('Functional')

Functional
8    1345
6      34
7      33
5      18
4       4
3       4
2       1
0       1
dtype: int64

In [52]:
test_df.FireplaceQu.value_counts(dropna=False)

NaN    712
Gd     363
TA     279
Fa      41
Po      26
Ex      19
Name: FireplaceQu, dtype: int64

In [53]:
test_df.FireplaceQu.fillna(0, inplace=True)

In [54]:
# formatting  ['FireplaceQu'] to Hirachial value 
test_df['FireplaceQu'] = test_df['FireplaceQu'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [55]:
# replace testing 
test_df.value_counts('FireplaceQu')

FireplaceQu
0    712
4    363
3    279
2     41
1     26
5     19
dtype: int64

In [56]:
test_df.GarageFinish.value_counts(dropna=False)

Unf    615
RFn    388
Fin    367
NaN     70
Name: GarageFinish, dtype: int64

In [57]:
test_df.GarageFinish.fillna(0, inplace=True)

In [58]:
# formatting  ['GarageFinish'] to Hirachial value 
test_df['GarageFinish'] = test_df['GarageFinish'].replace({'Fin': 3, 'RFn': 2, 'Unf': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [59]:
# replace testing 
test_df.value_counts('GarageFinish')

GarageFinish
1    615
2    388
3    367
0     70
dtype: int64

In [60]:
test_df.GarageQual.value_counts(dropna=False)

TA     1287
Fa       72
NaN      70
Gd       10
Po        1
Name: GarageQual, dtype: int64

In [61]:
test_df.GarageQual.fillna(0, inplace=True)

In [62]:
# formatting  ['GarageQual'] to Hirachial value 
test_df['GarageQual'] = test_df['GarageQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [63]:
# replace testing 
test_df.value_counts('GarageQual')

GarageQual
3    1287
2      72
0      70
4      10
1       1
dtype: int64

In [64]:
test_df.GarageCond.value_counts(dropna=False)

TA     1322
NaN      70
Fa       36
Gd        6
Po        5
Ex        1
Name: GarageCond, dtype: int64

In [65]:
test_df.GarageCond.fillna(0, inplace=True)

In [66]:
# formatting  ['GarageCond'] to Hirachial value 
test_df['GarageCond'] = test_df['GarageCond'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1, 'NaN': 0})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [67]:
# replace testing 
test_df.value_counts('GarageCond')

GarageCond
3    1322
0      70
2      36
4       6
1       5
5       1
dtype: int64

In [68]:
test_df.PoolQC.value_counts(dropna=False)

NaN    1437
Ex        2
Gd        1
Name: PoolQC, dtype: int64

In [72]:
test_df.PoolQC.fillna(0, inplace=True)

In [69]:
# formatting  ['PoolQC'] to Hirachial value 
test_df['PoolQC'] = test_df['PoolQC'].replace({'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'NaN': 0})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [70]:
# replace testing 
test_df.value_counts('PoolQC')

PoolQC
4.0    2
3.0    1
dtype: int64

In [71]:
test_df.Fence.value_counts(dropna=False)

NaN      1150
MnPrv     172
GdPrv      59
GdWo       58
MnWw        1
Name: Fence, dtype: int64

In [72]:
test_df.Fence.fillna(0, inplace=True)

In [73]:
# formatting  ['Fence'] to Hirachial value 
test_df['Fence'] = test_df['Fence'].replace({'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [74]:
# replace testing 
test_df.value_counts('Fence')

Fence
0    1150
3     172
4      59
2      58
1       1
dtype: int64

In [75]:
test_df['firstflrsf'] = test_df['1stFlrSF']

In [76]:
test_df['secondflrsf'] = test_df['2ndFlrSF']

In [77]:
test_df['thirdPorch'] = test_df['3SsnPorch']

In [78]:
del test_df['3SsnPorch']

In [79]:
del test_df['2ndFlrSF']

In [80]:
del test_df['1stFlrSF']

In [81]:
test_df.to_csv(r'F:/House-Pricing-Predictions/Cleaned_data/test_converted_df.csv', index = False)